@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,900&family=Ubuntu:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
 .cv{
    color: #ccc !important;
    font-weight: bold;
}

.navbar-brand{
    margin-left: 3rem !important ;
}
.nav-link{
    color: #cecece !important;
}
.sboard{
    border: 0 solid black !important;
}

.branco{
    color: #00050b;
}
 .txt:hover{
    color: #116fff;
}
.max-width{
    max-width: 1300px;
    padding: 0 40px;
    margin: auto;
}
.navbaralt{
    padding: 15px 0;
    font-family: 'Roboto', sans-serif !important;
    transition: all 0.3s ease;
    z-index: 999; 
}
.navbaralt a{
    transition: color 0.3s ease !important;
}
.navbaralt a:hover{
    color: #116fff !important;
}
.navbaralt.sticky{
      background-color: black;
      padding: 10px 0;
} 
.navbaralt.sticky a span{ 
    color: #116fff;
} 
.home{
    height: 700px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    background: url(../source/images/homem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home .max-width{
    margin: 12rem 0 auto 0 ;
}
.home .home-content .text-1{
    font-size: 27px;
    
} 
 .home .home-content .text-2{
    font-size: 65px;
    font-weight: 500;
    margin-left: -3px;
}  
 .home .home-content .text-3{
    font-size:40px;
    margin-left: 5px 0;
} 
.home .home-content .text-3 span{
    color:#116fff;
    font-weight: 500;
} 
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}
.sobre-title{
    font-family: 'Roboto', sans-serif;
    color: #116fff;
}
button > a{
    color: #00050b;
    text-decoration: none;   
}
button > a:hover{
    color: #00050b;
    text-decoration: none;
}
.conteudo{
    font-family: Arial, Helvetica, sans-serif;
}
section{
    padding: 100px 0px;
    overflow: hidden;
}
section .title{
 font-family: 'Roboto', sans-serif;
 text-align: center;
 font-size:40px;
 font-weight: 500px;
 margin-bottom: 60px;
 padding-bottom: 20px;
 position: relative;
}
section .title::before{
 content: "";
 position: absolute;
 bottom: 0;
 left: 50%;
 width: 180px;
 height: 3px;
 background: #cecece;
 transform: translateX(-50%);
}
section .title::after{
 position: absolute;
 bottom:-12px;  
 left: 50%;
 font-size: 20px;
 height: 30px;
 background: #cecece;
 padding: 5px;
 color: #116fff;
 transform: translateX(-50%);
}
.servicos, .conteudo, .skills{
    background-color: #2a3036; 
    color: #cecece;
}
.card-bg{
 background-color: #00050b !important;
}
.servicos .title::before{
    background-color: #cecece;
}



.skills .skills-content .colum{
    width: calc(50% - 30px);
}
.skills .skills-content .rigth .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.skills .skills-content .rigth .bars{
    margin-bottom: 15px;
}
.skills .skills-content .rigth .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .rigth span{
    font-weight: 500px;
    font-size: 15px;
}
.skills .skills-content .rigth .line{
    width: 100%;
    height: 5px;
    background-color: #ccc;
    position: relative;
}
.skills .skills-content .rigth .line::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #116fff;
}
.skills .skills-content .rigth .html::before{
    width: 90%;
}
.skills .skills-content .rigth .css::before{
    width: 80%;
}
.skills .skills-content .rigth .js::before{
    width: 65%;
}
.skills .skills-content .rigth .git::before{
    width: 85%;
}
.skills .skills-content .rigth .vue::before{
    width: 50%;
}
.skills .skills-content .rigth .node::before{
    width: 50%;
}
.skills .skills-content .rigth .boot::before{
    width: 80%;
}
.skills .skills-content .rigth .python::before{
    width: 30%;
}
footer{
    background-color: #111;
    color: #fff;
    padding: 20px 30px;
    text-align: center;
}
@media (max-width: 520px){
    .home{
        background: url(../source/images/homem.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 350px;
        color: #fff; 
    }
    .img-p{
        width: 150px; height: 190px;
     
    }
    .home .home-content .text-1{
        font-size: 27px;
        
    } 
     .home .home-content .text-2{
        font-size: 45px !important;
        font-weight: 500;
        margin-left: -3px;
    }  
     .home .home-content .text-3{
        font-size: 27px !important;
        margin-left: 5px 0;
    } 
    .home .max-width{
        margin: 2rem 0 auto 0 !important;
    }
    .navbar-brand{
        margin-left: 1rem !important ;
    }
}
@media (max-width:1120px){
    .home .home-content .text-2{
        font-size: 62px;
        font-weight: 500;
        margin-left: -3px;
    } 
}
@media (max-width: 398px){
    
    .home .home-content .text-1{
        font-size: 23px !important;    
    } 
     .home .home-content .text-2{
        font-size: 35px !important;
        font-weight: 500;
        margin-left: -3px;
    }  
     .home .home-content .text-3{
        font-size: 27px !important;
        margin-left: 5px 0;
    } 
    .home .max-width{
        margin: 3rem 0 auto -20px !important;
    }
}